.info {
    position: fixed;
    flex: 5;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 22%;
    align-items: center;
    padding: 1%;
}

.perfil {
    width: 75%;
    border-radius: 50%;
    margin-bottom: 10px;
    
}

.perfil img {
    border-radius: 50%;
    box-shadow:  4px 4px 8px #969ba2,
             -4px -4px 8px #ffffff;
}

.nome, .email {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    color: #8A8D92;
}

.nome {
    text-transform: uppercase;
    font-weight: bold;
}

.email {
    font-size: 17px;
}

.redes {
    display: flex;
    margin-top: 2%;
}

.redes img {
    margin: -3% -3% -3% -3%;
    border-radius: 50%;
    box-shadow:  4px 4px 8px #969ba2,
             -4px -4px 8px #ffffff;
}

.git, .lkd {
    height: 61px;
    width: 76px;
    text-align: center;
}

.linha {
    width: 74%;
    height: 1px;
    background-color: #8A8D92;
    box-shadow:  4px 4px 8px #5b5e62,
             -4px -4px 8px #ffffff;
    margin: 8%;
}

.desc {
    width: 70%;
    text-align: center;
    color: #8A8D92;
}

.em-react {
    display: flex;
    align-items: center;
    width: 44%;
    justify-content: space-around;
    color: #8A8D92;
}

.react-logo1 {
    width: 26%;
    margin-left: -19%;
}

.chapa {
    border: 1px solid black;
    margin: 10% auto;
}