.card {
    background-color: rgb(82, 132, 224);
    margin: 2px;
    width: 100%;
    margin: 5px;
    flex: 1 1 300px;
    display: flex;
    flex-direction: column;
    border: 1px black solid;
    border-radius: 10px;
}

.conteudo {
    background-color: #DFDCE3;
    color: black;
    flex: 1;
    font-size: 2em;
    border: 1px black solid;
    border-radius: 10px;
}

.footer {
    background-color: rgb(8, 45, 112);
    border: 1px black solid;
    border-radius: 10px;
}


ul {
    padding-left: 40px;
}
