@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #E4EBF5;
}

.App {
    color: white;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: row;
    margin-top: 2%;
}

.items {
    flex: 17;
    margin-left: 22%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

h1 {
    
}

.button {
    background-color: white;
    color: black;
    text-align: center;
    border: 1px black solid;
    border-radius: 10px;
    /* font-size: 0.7em; */
    margin: 5% auto;
    width: 50%;
}