/* @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap'); */

* {
    padding: 2px;
    margin: 2px;
}

body {
    text-align: center;
    background-color: #2b2b2b;
    color: #ffffffe5;
    margin: 0 auto;
    font-family: 'Raleway', sans-serif;
    border-radius: 50px;
    border-radius: 49px;
background: #2e2e2e;
box-shadow: inset 26px 26px 55px #222222,
            inset -26px -26px 55px #3a3a3a;
}

.Apps {
    display: flex;
    flex-direction: column;
}

h1 {
    font-family: 'Roboto', sans-serif;
}

.button {
    background-color: rgb(175, 175, 175);
    border: 1px black dashed;
    border-radius: 10px;
    font-size: 0.7em;
    margin: 5% auto;
    width: 50%;
}